@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
	  font-family: 'Open Sans';
    background-color: #259;
    color: white;
    text-align: center;
    font-size: 1em;
}

h2 {
  text-align: center;
  font-size: 200%;
}

h1 {
  text-align: center;
  font-size: 300%;

}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  min-width: 150px;
  background-color: #25F;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 4px 6px #000;

}

div#editor {
	display: none;
}

div#editorHome {
  display: none;
}

div#editorVisitor {
  display: none;
}

.number {
  font-size: 400%;
  font-family: 'Orbitron';
}

.n-resize{
  cursor: n-resize;
}

.s-resize{
  cursor: s-resize;
}
